.navbar {
    margin-bottom: 0;
    background: #6a6b6b;
}

body {
    background: #f1f2f3;
    color: #000000;
    font-family: 'Merriweather', sans-serif;
}

h1,
h2 {
    font-weight: bold;
}

p {
    font-size: 16px;
    color: #000000;
}

.jumbotron {
    background: #00cd49;
    color: #000000;
    text-align: center;
}

.jumbotron p {
    color: #000000;
    font-size: 26px;
}

.btn-primary {
    color: #000000;
    text-color: #000000;
    border-color: white;
    margin-bottom: 5px;
}

img,
video,
audio {
    margin-top: 20px;
    max-width: 80%;
}

div.caption{
    float: left;
    clear: both;
}

button{
    background-color: yellow !important;
    color: black !important;
}
